* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'roboto', Helvetica, Arial, sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 25px 150px 100px 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    flex: auto;
}
.logo img{
    height: 100px;
}
 .menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
 }
.menu a{
    text-decoration: none;    
    color: #F9FAF8;
    font-size: 18px;
    margin-right: 40px;
}

.container {
    background-color: #1F2937;
    padding: 25px 100px 100px;
    display: flex;
}

.items {
    margin-right: 150px;
}
.items h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 10px;
}
.items p {
    font-size: 24px;
    color: rgb(194, 52, 187);
    word-spacing: 1px;
    line-height: 1.4em;
}
.container.items {
}

.image-placeholder{
}
.container img {
    height: 500px;
    margin-right: 20px;

}

button {
    padding: 7.5px 30px;
    border-radius: 5px;
    border: 0;
    font-weight: bolder;
    font-size: 16px;
    color: #F9FAF8;
}
.items button {
    background-color: #3882F6;
    margin-top: 24px;
}

.random-text {
    margin: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.container-2{
    width: 1200px;
    margin: 0 auto 100px;
}
.box-container {
    display: flex;
    justify-content: space-around;
}

.box-container img{
    height: 200px;
    text-align: center;
    border-radius: 5px;
}

.text-container-2 {
    display: flex;
    justify-content: space-around;
}

.text-container-2 p {
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.grey-container {
    background-color: #E5E7EB;
    padding: 120px 50px;
}
.grey-container p {
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    color: #1F2937;
    font-size: 30px;
    width: 1000px;
}
.call-to-action {
    background-color: #3882F6;
    margin: 100px auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border-radius: 5px;
    color: #F9FAF8;
    align-items: center;
}
.call-to-action button{
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
}
.first,
.second{
    margin: 0 130px;
}
.first h3 {
    margin-bottom: 3px;
}
.first p{
    font-size: 14px;
}
.footer {
    text-align: center;
    padding: 26px;
    background-color: #1F2937;
    color: #F9FAF8;
}